## セクション３　ロジスティック回帰
- 分類アルゴリズムの最も基本のアルゴリズム
- 線形の回帰式をシグモイド関数を使うことによって０〜１の範囲に収まるように変形することができる（確率のような解釈ができる）
- θを求めるための損失関数が必要
- 最小二乗法を使うと複雑になってしますので、Logloss（交差エントロピー）を使用する  
 正解ラベルが１の時、-log(p(x))　→ p（x）が０に近い値ほど、値が指数関数的に増える  
 正解ラベルが0の時、-log(1-p(x)→ p(x)が０に近いほど、値が小さくなる

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss

In [6]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [12]:
#欠損地のあるレコードの削除
df.dropna(inplace=True)

#前処理
X = df.loc[:,(df.columns!='survived') & (df.columns!='alive')]
X = pd.get_dummies(X,drop_first=True)
y = df['survived']

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.3)

model = LogisticRegression()
model.fit(X_train,y_train)
#Worning:lblgsでは値が収束しなかったので、もっとイテレーションを増やした方がいいと書いているが今回は無視でok

/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
#予測
model.predict(X_test)

array([1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1])

In [15]:
#評価
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)
log_loss(y_test,y_pred_proba)

0.411155211947354

In [17]:
print(model.coef_)
print(model.intercept_)
print(model.classes_)
print(model.feature_names_in_)

[[-0.29607671 -0.02130243  0.62282182 -0.37413422  0.00478712 -0.88712373
   0.17504769  0.38827529 -0.40451165 -0.02293806 -0.45309231 -0.40470945
  -0.88712373  1.21194512 -0.11124343 -1.20748021 -0.14156798  0.61110341
  -0.13070368 -0.55156589 -0.40451165 -0.02293806]]
[2.1429786]
[0 1]
['pclass' 'age' 'sibsp' 'parch' 'fare' 'adult_male' 'alone' 'sex_male'
 'embarked_Q' 'embarked_S' 'class_Second' 'class_Third' 'who_man'
 'who_woman' 'deck_B' 'deck_C' 'deck_D' 'deck_E' 'deck_F' 'deck_G'
 'embark_town_Queenstown' 'embark_town_Southampton']